.main-container {
    margin: 0 auto;
    width: 360px;
    height: 480px;
    border: 1px solid #cccccc;
    box-shadow: #ccc 4px 3px 4px;
    position: relative;
    overflow: hidden;
}

.nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.hamburger {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    overflow: hidden;
    width: 60px;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.slide-door{
    width: 360px;
    overflow: hidden;
    top: 50px;
    left: -360px;
    height: 430px;
    background-color: #ccc;
    position: absolute;
    transition: 1s left ease-in-out;
    z-index: 1;
}


.open {
    left: 0px;
}

.text-action {
    width: 100%;
    color: #000;
    pointer-events: none;
    font-size: 16px;
    text-align: center;
    margin: 15px auto;
    font-weight: bold;
    position: absolute;
}

.image-video-0,
.image-video-1,
.image-video-2, 
.image-video-3  {
    position: absolute;
    width: 360px;
    top: 0px;
    left: 0px;
    height: 200px;
    border-bottom:1px solid #ccc;
    box-shadow: #ccc 4px 3px 4px;
}

.image-video-0 {background-color: #eee;}
.image-video-1 {background-color:red;}
.image-video-2 {background-color:#000;}
.image-video-3 {background-color:blue;}

.info-content{
    width: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: 220px;
    bottom: 3px;
    word-wrap: break-word;
}

.b-0,
.b-1,
.b-2,
.b-3 {
    width: 100%;
    position: relative;
    color: #000;
    cursor: pointer;
    text-align: left;
    margin: 10px 0 0 10px;
}

.c-0,
.c-1,
.c-2,
.c-3 {
    width: 360px;
    position: absolute;
    bottom:0px;
    right: -460px;
    height: 430px;
    opacity: 0;
    transition: 1s all ease-in-out;
}


.open-c{
    right: 0px;
    opacity: 1;
}